html,
body {
  width: 500px;
  height: 400px;
  font-family: monospace;
  margin: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #555879;
}
#log-container {
  width: 100%;
}
.log-entry {
  padding: 10px 0;
  transition: transform 0.2s ease-in-out;
  transform-origin: left center;
}
.log-entry:hover {
  transform: scale(1.05);
}
p {
  padding: 0 10px;
  width: 90%;
}
